<!DOCTYPE html>
<html>
<body>
	<div class="container">
		<img src="images/hos2.png" width="100%">
		<div class="about" style="text-align: justify;">
		<h4>About Us</h4>
		<hr>
		<p style="color: #696969;">Today, eHospitals Group has touched the lives of over 45 million patients from 121 countries. The group, which started out as a 150-bed hospital, is now recognized as a pioneer of private healthcare in India, with 64 hospitals in operation. It has emerged as a leading integrated healthcare service provider in Asia, specializing also in consultancy, clinics, pharmacy, insurance and holistic therapy. The vision is to be a globally respected healthcare organisation known for Clinical excellence and distinctive patient care. Patient eccentricity, Integrity, Teamwork, Ownership and Innovation are the principal values to be complied in the working environment.
		</p>
		<div>
			<span width="50%" style="color: #696969;">
				The eHospitals Group was the first to invest in pre-requisites for international quality accreditations such as the JCI and to develop centres of excellence Cardiac Sciences, Orthopaedics, Neurosciences, Emergency Care, Cancer and Organ Transplantation. Stringent internal processes and scoring systems ensures the group achieves the very best qualities. eHospitals took initiatives including the ACE@25 and TASSC, conveying a commitment to global benchmarks and clinical excellence.
			</span>
			<br>
			<br>
			<div class="row" style="padding-left: 6%;">
				<div class="col-sm-4"><img src="https://cdn3.apollowhitedental.com/uploads/2018/10/dr-pratap-c-reddy-1.jpg" width="250" height="250" ></div>
    			<div class="col-sm-4"><img src="https://d3frl090092vlr.cloudfront.net/shirish.jpg" width="250" height="250" ></div>
    			<div class="col-sm-4"><img src="https://s3-ap-southeast-1.amazonaws.com/s3.fortishealthcare.com/Chinta-IHH-AR16_19-cropped.jpg" width="250" height="250"> </div>
			</div>
			<div class="row">
    			<div class="col-sm-4" style="font-size: 25px; color: darkgreen; font-weight: bold; padding-left: 8%;">Mr. Venkat Raman</div>
    			<div class="col-sm-4" style="font-size: 25px; color: darkgreen; font-weight: bold;padding-left: 2%;">Mr. Ashutosh Raghuvanshi</div>
    			<div class="col-sm-4" style="font-size: 25px; color: darkgreen; font-weight: bold;padding-left: 4%;">Mr. Indrajit Banerjee</div>
  			</div>
  			<div class="row">
    			<div class="col-sm-4" style="color: #696969; font-weight: bold; padding-left: 15%;">Chairman</div>
    			<div class="col-sm-4" style="color: #696969; font-weight: bold;padding-left: 12%;">Vice-Chairman</div>
    			<div class="col-sm-4" style="color: #696969; font-weight: bold;padding-left: 7%;">Non-Executive Director</div>
  			</div>
		</div>
		</div>
	</div>
  <footer class="container-fluid">
  <a href="#Top" title="To Top">Top of Page</a>
  <p>Hospital Management System 2019</p> 
</footer> 
</body>
</html>
