<h5 style="text-align: center">Doctor Profile</h5>
<table id="doctor_profile_table" class="display" style="width: 100%">
	<thead>
	<tr>
		<th>Category</th>
		<th>Value</th>
	</tr>
	</thead>
	<tbody>
	<tr><td>Doctor</td><td><%= doctor.first_name %> <%= doctor.last_name %></td></tr>
	<tr><td>Specialization</td><td><%= doctor.specialization %></td></tr>
	<tr><td>Gender</td><td><%= doctor.gender %></td></tr>
	<tr><td>Date Of Birth</td><td><%= doctor.dob %></td></tr>
	<tr><td>Mobile</td><td><%= doctor.mobile %></td></tr>
	<tr><td>Email</td><td><%= doctor.email %></td></tr>
	</tbody>
	</table>

