<!DOCTYPE html>
<html>
<head>
	<title>eHospital</title>
	<link rel = "icon" href ="ehosp.png" type = "image/x-icon"> 
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  	<meta name="description" content="">
  	<meta name="author" content="">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">
	<style type="text/css">
		body
		{
			color: salmon;
			background-image: url(images/hoss.jfif);
			background-size: cover;
			background-attachment: fixed;
			background-repeat: no-repeat;
		}

		.navbar a:hover 
		{
  			background-color: #2661A6;
		}
	</style>
</head>
<body>
	<nav class="navbar navbar-expand-sm navbar navbar-light" style="background-color: #E1F5FE;">
  	<div class="navbar-brand"><img src="images/ehosp.png" width="50" height="50">eHospital Management System</div>
  	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"><i class="fas fa-bars hamburger"></i></span>
  	</button>
  	<div class="collapse navbar-collapse" id="navbarNav">
    	<ul class="navbar ml-auto" type="none">
      		<li class="nav-item">
        		<a class="nav-link" id="home">Home</a>
      		</li>
      		<li class="nav-item">
        		<a class="nav-link" id="about">About<span class="sr-only">(current)</span></a>
      		</li>
      		<li class="nav-item">
        		<a class="nav-link" id="patientlogin">Patient</a>
      		</li>
      		<li class="nav-item">
        		<a class="nav-link" id="doctorlogin">Doctor</a>
      		</li>
      		<li class="nav-item">
        		<a class="nav-link" id="contact">Contact</a>
      		</li>
    	</ul>
  	</div>
	</nav>
  	<div id="main">
  	</div>
	<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  	<script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
	<script src="js/main.js"></script>
</body>
</html>
