<!DOCTYPE html>
<html>
<head>
  	<script type="text/javascript">
  	function check() {
  		if (document.getElementById('password').value ==document.getElementById('confirm_password').value) {
    		document.getElementById('confirm_password').style.color = 'green';
    		document.getElementById('message').innerHTML = 'Password Match';}
    	else {
    		document.getElementById('confirm_password').style.color = 'red';
  		}
	}
  	</script>
  	<style type="text/css">
  		body
  		{
  			background-image: url("images/13978.jpg");
  		}
  		button
  		{
  			background-color: rgb(216, 218, 237);
  			color: #2E304A;
  			padding-top: 0.5%;
  			padding-bottom: 0.5%;
  			padding-left: 7%;
  			padding-right: 7%;
  			text-align: center;
  			font-weight: bold;
  		}
  		button:focus
  		{
  			border: 1px solid blue;
  		}
		.continue
		{
			padding-left: 2%;
			padding-top: 1.7%;
			padding-bottom: 1.7%;
			color: black;
		}
		.padd
		{
			padding-bottom: 2%;
		}
		input
		{
			width: 60%;
		}
		input:invalid 
		{
  			color: red;
		}
		select
		{
			width: 60%;
		}

	</style>
</head>
<body>
	<form id="patientsignupform">
				
		<div class="continue" style="background-color:grey; margin-top: 1.45%; margin-left: 25%; margin-right: 25%;">
			<fieldset>
		<legend><b>Patient Signup Form</b></legend>
			<div class="padd">
			<label>First Name*</label><br>
			<input type="text" name="first_name" pattern="[a-zA-Z]{1,50}" required ><br>
			</div>
			<div class="padd">
			<label>Last Name*</label><br>
			<input type="text" name="last_name" pattern="[a-zA-Z]{1,50}" required ><br>
			</div>
			<div class="padd">
			<label>Date of Birth</label><br>
			<input type="date" name="dob">
			</div>
			<div class="padd">
			<label>Gender</label><br>
			<span>
			<select name="gender">
				<option value="">Select</option>
				<option value="Male">Male</option>
				<option value="Female">Female</option>
				<option value="Other">Other</option>
			</select>
			</span>
			</div>
			<div class="padd">
			<label>Select Country</label><br>
			<select name="country">
				<option value="">Select</option><option value="Afganistan">Afghanistan</option><option value="Albania">Albania</option>
				<option value="Algeria">Algeria</option><option value="Argentina">Argentina</option><option value="Armenia">Armenia</option>
				<option value="Australia">Australia</option><option value="Austria">Austria</option><option value="Bahamas">Bahamas</option>
				<option value="Bahrain">Bahrain</option><option value="Bangladesh">Bangladesh</option>
				<option value="Barbados">Barbados</option><option value="Belgium">Belgium</option><option value="Bhutan">Bhutan</option>
				<option value="Bolivia">Bolivia</option><option value="Brazil">Brazil</option><option value="Brunei">Brunei</option>
				<option value="Cambodia">Cambodia</option><option value="Canada">Canada</option>
				<option value="Central African Republic">Central African Republic</option><option value="Chile">Chile</option>
				<option value="China">China</option><option value="Colombia">Colombia</option><option value="Congo">Congo</option>
				<option value="Costa Rica">Costa Rica</option><option value="Cuba">Cuba</option><option value="Denmark">Denmark</option>
				<option value="Ecuador">Ecuador</option><option value="Egypt">Egypt</option><option value="Ethiopia">Ethiopia</option>
				<option value="Fiji">Fiji</option><option value="Finland">Finland</option><option value="France">France</option>
				<option value="Georgia">Georgia</option><option value="Germany">Germany</option><option value="Ghana">Ghana</option>
				<option value="Great Britain">Great Britain</option><option value="Greece">Greece</option>
				<option value="Greenland">Greenland</option><option value="Hawaii">Hawaii</option>
				<option value="Hong Kong">Hong Kong</option><option value="Hungary">Hungary</option><option value="Iceland">Iceland</option>
				<option value="India">India</option><option value="Indonesia">Indonesia</option><option value="Iran">Iran</option>
				<option value="Iraq">Iraq</option><option value="Ireland">Ireland</option><option value="Italy">Italy</option>
				<option value="Jamaica">Jamaica</option><option value="Japan">Japan</option><option value="Kenya">Kenya</option>
				<option value="Libya">Libya</option><option value="Madagascar">Madagascar</option><option value="Malaysia">Malaysia</option>
				<option value="Maldives">Maldives</option><option value="Mauritius">Mauritius</option><option value="Mexico">Mexico</option>
				<option value="Morocco">Morocco</option><option value="Myanmar">Myanmar</option><option value="Nepal">Nepal</option>
				<option value="Netherlands">Netherlands</option><option value="New Zealand">New Zealand</option>
				<option value="Nigeria">Nigeria</option><option value="Norway">Norway</option><option value="Oman">Oman</option>
				<option value="Pakistan">Pakistan</option><option value="Paraguay">Paraguay</option><option value="Peru">Peru</option>
				<option value="Phillipines">Philippines</option><option value="Poland">Poland</option>
				<option value="Portugal">Portugal</option><option value="Qatar">Qatar</option><option value="Russia">Russia</option>
				<option value="Saudi Arabia">Saudi Arabia</option><option value="Singapore">Singapore</option>
				<option value="South Africa">South Africa</option><option value="Spain">Spain</option>
				<option value="Sri Lanka">Sri Lanka</option><option value="Sweden">Sweden</option>
				<option value="Switzerland">Switzerland</option><option value="Thailand">Thailand</option>
				<option value="Turkey">Turkey</option><option value="Ukraine">Ukraine</option>
				<option value="United Arab Emirates">United Arab Emirates</option><option value="United Kingdom">United Kingdom</option>
				<option value="United States of America">United States of America</option><option value="Uraguay">Uruguay</option>
				<option value="Vatican City State">Vatican City State</option><option value="Vietnam">Vietnam</option>
				<option value="Yemen">Yemen</option><option value="Zambia">Zambia</option><option value="Zimbabwe">Zimbabwe</option>
			</select>
			</div>
			<div class="padd">
				<label>Mobile Number</label><br>
				<input type="text" name="mobile" pattern="[0-9]{10}">
			</div>
			<div class="padd">
				<label>E-Mail*</label><br>
				<input type="email" name="email" required>
			</div>
			<div class="padd">
				<label>Password*</label><br>
				<input type="Password" name="password" id="password" required>
			</div>
			<div class="padd">
				<label>Confirm Password*</label><br>
				<input type="Password" name="confirm_password" id="confirm_password" required onkeyup='check()'>
				<span id='message'></span>
			</div>
			<button class="btn btn-primary" type="submit" id="patientsignupform_submit">Signup</button>
	</fieldset>	
	</div>
	</form>
</body>
</html>
